body{
  background: linear-gradient(rgb(18, 149, 172), rgb(0, 238, 255));
  background-size: 100%;
  min-height: 1460px;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

/* TOP section */

.header{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
  padding: 40px 0;
  border: 3px solid rgb(187, 187, 187);
  border-radius: 50px;
}

.task_form{
  margin-left: 50px;
  font-size: 25px;
  font-weight: 500;
  display: flex;
}
#taskForm{
  width: 300px;
  margin-left: 10px;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 30px;
  padding: 0 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.date_form{
  font-size: 25px;
  font-weight: 500;
  display: flex;
}

#dateForm{
  width: 200px;
  margin-left: 10px;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  padding: 0 10px;
  font-size: 20px;
}

.desc_form{
  font-size: 25px;
  font-weight: 500;
  display: flex;
  margin-right: 50px;
}

#descriptionForm{
  width: 300px;
  margin-left: 10px;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 30px;
  padding: 0 10px;
  font-family: 'Montserrat', sans-serif;
}




/* Button */

.add_task{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.add_task_button{
  font-size: 40px;
  padding: 10px 200px;
  border: 2px solid rgb(136, 136, 136);
  border-radius: 30px;
  color: black;
  box-shadow: 2px 0px 20px rgb(202, 202, 202);
}

.add_task_button:hover{
  color: black;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(182, 182, 182);
}

.add_task_button:active{
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-size: 35px;
  padding: 10px 180px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  box-shadow: 2px 0px 20px rgb(37, 37, 37);
}

/* Todo GRID */

.todo_plain{
  background-color: aliceblue;
  margin: 30px 100px;
  height: auto;
  min-height: 900px;
  border: 3px solid rgb(187, 187, 187);
  border-radius: 50px;
}
.todo_grid{
  background-color: aliceblue;
  margin: 30px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 50px;   
}


.task_div{
  position: relative;
  background-color: white;
  border: 3px solid rgb(187, 187, 187);
  display: grid;
  grid-template-rows: 1fr, 1fr, 2fr;
  min-height: 200px;
  border-radius: 20px;
  padding: 10px;
}

.delete_button {
  position: absolute;
  width: 60px;
  height: 25px;
  bottom: 10px;
  right: 10px;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: rgb(202, 37, 15);
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.delete_button:hover{
  background-color: rgb(11, 129, 129);
  border: 1px solid gray;
}

.task{
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
}

.task p{
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}

.date{
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;  
}

.date p{
  font-size: 20px;
  margin: 5px 0;
}

.description p{
  display: block;
  word-wrap: break-word;
}

@media (max-width: 1820px){
  .task_form{
      margin-left: 30px;
      font-size: 20px;
  }
  .date_form{
      font-size: 20px;
  }
  .desc_form{
      font-size: 20px;
      margin-right: 30px;
  }
  .header{
      padding: 20px 0;
  }
  #taskForm{
      width: 200px;
      font-size: 15px;
  }
  #dateForm{
      width: 200px;
      font-size: 15px;
  }
  #descriptionForm{
      width: 200px;
  }
}

@media (max-width: 1675px){

  .todo_grid{
    margin: 30px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
  }
}

@media (max-width: 1460px){
  .header{
      padding: 30px 0;
  }
  
  .task_form{
      justify-content: center;
      font-size: 25px;
      display: block;
  }
  #taskForm{
      width: 300px;
      height: 30px;
      margin-left: 0;
      font-size: 20px;
  }
  
  .date_form{
      font-size: 25px;
      justify-content: center;
      display: block;
  }
  
  #dateForm{
      width: 200px;
      height: 30px;
      margin-left: 0;
      font-size: 20px;
  }
  
  .desc_form{
      font-size: 25px;
      display: block;
      justify-content: center;
  }
  
  #descriptionForm{
      width: 300px;
      height: 30px;
      margin-left: 0;
      font-size: 20px;
  }
}

@media (max-width: 1397px){

  .todo_grid{
    margin: 30px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
  }
}


  @media (max-width: 1280px){
      body{
          margin: 0;
      }
      .header{
          display: block;
          margin-top: 100px;
          background-color: white;
          margin-left: 0;
          margin-right: 0;
          padding: 30px 0;
          border: 0;
          border-top: 3px solid rgb(187, 187, 187);
          border-bottom: 3px solid rgb(187, 187, 187);
          border-radius: 0;
      }
      
      .task_form{
          margin-left: 50px;
          margin-top: 10px;
          display: flex;
      }
      #taskForm{
          width: 50%;
          margin-left: 10px;
      }
      
      .date_form{
          margin-left: 50px;
          margin-top: 10px;
          display: flex;
      }
      
      #dateForm{
          width: 50%;
          margin-left: 10px;
      }
      
      .desc_form{
          margin-left: 50px;
          display: flex;
          margin-top: 10px;
      }
      
      #descriptionForm{
          width: 40%;
          margin-left: 10px;
      }
      
      
      
      
      /* Button */
      
      .add_task{
          display: flex;
          justify-content: center;
          margin-top: 30px;
      }
      
      .add_task_button{
          width: 100%;
          border: 0;
          border-top: 2px solid rgb(136, 136, 136);
          border-bottom: 2px solid rgb(136, 136, 136);
          border-radius: 0;
      }
      
      
      
      /* Todo GRID */
      
      .todo_plain{
          margin: 30px 0;
          border: 0;
          border-top: 3px solid rgb(187, 187, 187);
          border-bottom: 3px solid rgb(187, 187, 187);
          border-radius: 0;
      }
      .todo_grid{
          margin: 30px 0;
          display: grid;
          grid-template-columns: 1fr;
          row-gap: 30px;

          
      }
      .task_div{
        width: 100%;
        margin: 0;
        max-width: 100%;
        border: 0;
        border-top: 3px solid rgb(187, 187, 187);
        border-bottom: 3px solid rgb(187, 187, 187);
        border-radius: 0;
      }

      .delete_button {
        bottom: 10px;
        right: 30px;
      }
  }